{{> welcomemenu }}
<section class="ui raised segment">
    <div class="ui grid">


                {{#each islandsInRegion}}
                    <section class="ui stacked segment">
                        <h2 class="ui header">

                            {{name}}
                        </h2>
                        <table class="ui celled table segment">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Costal Zone</th>
                                <th>Region</th>
                            </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td> {{name}} </td>
                                    <td> {{description}} </td>
                                    <td>{{costalZone}}</td>
                                    <td> {{region}} </td>


                                </tr>
                            </tbody>
                        </table>


                        </a>
                    </section>
                {{/each}}





    </div>
</section>